<header class="jumbotron hero-spacer">
    <h1>Sonya es tu asistente personal</h1>
    <p>Selecciona qué servicio quieres y tendrás los proveedores que necesitas.</p>
    <!--<p><a class="btn btn-primary btn-large">Call to action!</a></p>-->
</header>

<hr>
<div class="col-md-12 hero-section">
    <button class ="btn btn-primary btn-large" ng-link="['Categories']">Filtrar</button>
</div>

<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Servicios</h3>
    </div>

</div>
<!-- /.row -->

<div class="container-fluid">

    <div class="col-md-4 col-sm-6 hero-feature" ng-repeat="service in $ctrl.services">
        <div class="thumbnail" ng-link="['ServiceDetail', {id: service.id}]">
            <img ng-src="{{::$ctrl.absolutePath(service.image[0])}}"/>
            <div class="caption">
                <h3>{{::service.title}}</h3>
                <p ng-bind-html="::service.description | sanitize"></p>

            </div>
        </div>
    </div>

</div>
