


    <header class="jumbotron hero-spacer">
        <h1>Sonya es tu asistente personal</h1>
        <p>Selecciona qué servicio quieres y tendrás los proveedores que necesitas.</p>
        <!--<p><a class="btn btn-primary btn-large">Call to action!</a></p>-->
    </header>

    <hr>
    <div class="container-fluid">
        <div class="col-md-4 col-sm-6 hero-section" ng-repeat="category in $ctrl.servicesFilter">
            <div class="thumbnail-cat" ng-link="['SubCategories',{id: category.id}]">
                <img ng-src="../styles/assets/{{category.name}}.png"/>
                <h2 >{{category.name}}</h2>
            </div>
        </div>
    </div>



