<form class="form-inline col-sm-8 col-sm-offset-3" role="form">
    <div class="form-group login-header">
        <div class="form-group">
            <label for="nick">Nickname</label>
            <input type="text" class="form-control" id="nick"
                   placeholder="Write your nickname" required>
        </div>

        <div class="form-group">
            <label for="confirm">Confirm</label>
            <input type="text" class="form-control" id="confirm"
                   placeholder="Confirmation Code">
        </div>

        <button type="submit" class="btn btn-primary"  ng-controller="ConfirmRegistration" ng-click="confReg()">Confirm</button>
        <a ng-link="['Register']" class="btn btn-link">Cancel</a>

    </div>
</form>