

    <form class="form-inline" style="padding-top: 4%" role="form">
        <div class="form-group login-header">
            <div class="form-group">
                <label class="sr-only" for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname"
                       placeholder="Enter Nickname">
            </div>

            <div class="form-group">
                <label class="sr-only" for="password">Email</label>
                <input type="password" class="form-control" id="password"
                       placeholder="Enter password">
            </div>

            <button type="submit" class="btn btn-primary" ng-controller="LoginController" ng-click="login()">Login</button>
            <a ng-link="['Register']" class="btn btn-link">Register</a>

        </div>
    </form>