
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side theme">
                &lt;!&ndash; normal collapsible navbar markup &ndash;&gt;
                <a ng-link="['Services']" ng-href="#"><img src="../styles/assets/logo_sonya_blanco-xxxhdpi.png" style="width: 98%" /></a>
                <ul class="nav navbar-nav font-color" style="padding-left: 5px">
                    <li>
                        <a>Bodas</a>
                    </li>
                    <li>
                        <a>Reformas</a>
                    </li>
                    <li>
                        <a>Clases</a>
                    </li>
                    <li>
                        <a style="visibility: hidden;">Extras</a>
                    </li>
                    <li>
                        <a ng-link="['Login']">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
