
<form role="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
               placeholder="Write your email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control col-sm-2" id="password"
               placeholder="Write your password" required>
    </div>
    <div class="form-group">
        <label for="nick">Nickname</label>
        <input type="text" class="form-control" id="nick"
               placeholder="Write your nickname" required>
    </div>

    <button type="submit" class="btn btn-default" ng-controller="CogRegister" ng-click="CogRegister()">Submit</button>
    <a href="/" class="btn btn-link">Cancel</a>


</form>