<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a  ng-link="['AllServices']"><img src="../styles/assets/logo_sonya_blanco.png"></a>
        </div>
        <div class="navbar-secondary">
            <nav>
                <ul>
                    <li><a ng-link="['AllServices']">Pide Presupuesto</a></li>
                    <li><a ng-link="['UserConsole']">Zona de Profesionales</a></li>
                    <li id="access"><a ng-link="['AllServices']">ACCEDE</a></li>
                </ul>
            </nav>


        </div>

    </div>

</nav>

<div class="container">
    <section class="col-sm-12 col-lg-12">
      <div class="col-md-12 hero-section">
            <!--<button class ="btn btn-primary btn-large" ng-link="['UserConsole']">Perfil de usuario</button>-->
        </div>



    </section>

        <!--<a href="#">Especio de profesionales</a>-->



</div>
<div class="container">


    <section class="col-sm-12 col-lg-12">
        <!-- Views zone -->
        <ng-outlet></ng-outlet>

        <hr>

    </section>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; JAISEN TEAM 2017</p>
            </div>
        </div>
    </footer>


</div>

