<!--<sub-categories></sub-categories>-->
<header class="jumbotron hero-spacer">
    <h1>Sonya es tu asistente personal</h1>
    <p>Selecciona qué servicio quieres y tendrás los proveedores que necesitas.</p>
    <!--<p><a class="btn btn-primary btn-large">Call to action!</a></p>-->
</header>

<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Servicios</h3>
    </div>

</div>
<!-- /.row -->

<div class="container-fluid">


    <div class="col-md-4 col-sm-6 hero-feature" ng-repeat="servicefilter in $ctrl.serviceFiltr ">
        <div class="thumbnail" ng-link="['ServiceDetail', {id: servicefilter.id}]">
        <div class="thumbnail">
            <img ng-src="{{::$ctrl.absolutePath(servicefilter.image[0])}}"/>
            <div class="caption">
                <h3>{{::servicefilter.title}}</h3>
                <p ng-bind-html="::servicefilter.description | sanitize"></p>

            </div>
        </div>
    </div>

</div>