<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{::$ctrl.service.title}} </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive" style="height: 500px; width: 750px" ng-src="{{::$ctrl.absolutePath($ctrl.service.image[0])}}">
        </div>

        <div class="col-md-4">

            <h5>Fecha de pubicación: {{$ctrl.service.published_date |date: 'd-M-y'}}</h5>
            <h3>Descripción</h3>
            <p ng-bind-html="::$ctrl.service.description | sanitize"> .</p>
            <h3>Notas</h3>
            <ul>
                <li ng-bind-html="::$ctrl.service.notes | sanitize"></li>

            </ul>
            <h3>Subcategoría
                <small ng-bind-html="::$ctrl.service.subcategory_fk | sanitize"></small>
            </h3>
            <h5> Latitud: {{$ctrl.service.latitude}}</h5>
            <h5> Longitud: {{$ctrl.service.longitude}}</h5>

            <md-google-maps lat="{{$ctrl.service.latitude}}" lng="{{$ctrl.service.longitude}}"></md-google-maps>
<!--            <div id="md-google-maps">

            </div>-->


        </div>

    </div>




</div>