<!--<header class="jumbotron hero-spacer">
    <h1>Sonya es tu asistente personal</h1>
    <p>Selecciona qué servicio quieres y tendrás los proveedores que necesitas.</p>
    &lt;!&ndash;<p><a class="btn btn-primary btn-large">Call to action!</a></p>&ndash;&gt;
</header>

<hr>
<div class="container-fluid">
    <div class="col-md-4 col-sm-6 hero-feature" ng-repeat="category in $ctrl.servicesFilter">

        <h3 ng-link="['SubCategories',{id: category.id}]">{{category.name}}</h3>
    </div>
</div>-->
<categories></categories>
<hr>
<div>
    <h4>subcategorías</h4>

</div>
<div class="container-fluid">
    <div class="col-md-4 col-sm-6 hero-section" ng-repeat="subCategory in $ctrl.subCategories">
        <div class="thumbnail-lit" ng-link="['ServicesFilter',{id: subCategory.id}]">
            <img ng-src="../styles/assets/{{subCategory.name}}.png"/>
            <h3  >{{subCategory.name}}</h3>
        </div>


    </div>
</div>

