
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.navbar-fixed-top{
    background-color: #FE7D3F !important;

}

.navbar-header img {
    margin-top: 15px;
    margin-bottom: 15px;

}
.navbar-secondary{
    margin-top: 25px;
    float: right;
    display: inline-block;
    list-style: none;
}
.navbar-secondary nav a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
    list-style: none;
}
.navbar-secondary nav ul{
    list-style: none;
}
.navbar-secondary nav li{
    display: inline;
}
#access a{
    margin-left: 120px;
}

/*a.navbar-usr  {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    margin-left: 40px!important;
    display: block!important;
    color: #fff !important;
}*/
.usr{
    color: black;
    margin: 20px;
    text-align: right;
}
.usr a{
    padding-top: 20px;
}

.hero-spacer {
    margin-top: 70px;
}

.btn {
    text-align: center !important;
    margin-right: 15px;
    background-color: #FE7D3F !important ;
    border-color: #FE7D3F !important ;

}

.list-group-item.active {
    background-color: #FE7D3F !important ;
    border-color: #FE7D3F !important ;
}
.hero-section {
    text-align: center;
    margin-bottom: 20px;

}

.thumbnail-cat{
      height: 300px;
    box-sizing: border-box;
}
.thumbnail-lit{
    height: 100px;
    box-sizing: border-box;
}

.hero-feature {
    text-align: center;
    margin-bottom: 20px;
    height: 700px;
}

#md-google-maps {
    background: white;
    border: 1px solid #bbb;
    height: 300px;
    margin: 10px 0;
}

